@media screen and (min-width: 1600px) {}
@media screen and (max-width: 1200px) and (min-width: 980px) {}
@media screen and (max-width: 979px) and (min-width: 768px) {}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .pages-container {
    .pages {
      .page-content {
        width: 100%;
        top: 40%;
        left: 0;
      }

      .bg-video {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .pages-container {
    .pages {
      .page-content {
        width: 100%;
        top: 40%;
        left: 0;
      }

      .bg-video {
        display: none;
      }
    }
  }
}
