@import url(font-awesome.min.css);
@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/nevis.ttf");
  font-family: nevis;
}
@font-face {
  src: url("../fonts/Bodoni.ttf");
  font-family: Bodoni;
}
@font-face {
  src: url("../fonts/Dodit.ttc");
  font-family: Didot;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: nevis;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 16px;
  border: 1.25rem solid #333;
  box-sizing: border-box;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  overflow: hidden;

  .main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
}
// index
@keyframes loading {
  0% {
    transform: translateY(-100%);
  }
  100% {
        transform: translateY(100%);
  }
}

.cover-layer {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  z-index: 10002;
  position: absolute;
  top: 0;
  left: 0;

  .layer-logo-container {
    position: absolute;
    left: 10vw;
    top: 50%;
    height: 80vh;
    width: 16vh;
    transform: translate(0,-50%);
    overflow: hidden;
    // -webkit-mask-image: url("../images/SVG/logo-white.svg");
    div {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-color: #333;
      animation: loading 2s infinite;
    }
  }
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

a:checked,
a:focus,
a:target {
  color: inherit;
}

p {
  font-family: "Arial";
  line-height: 2;
}

.cover-1 {
  position: absolute;
  z-index: 9998;
  opacity: 1;
}

.cover-2 {
  position: absolute;
  z-index: 9998;
  opacity: 1;
}

.logo-container {
  left: 2.5rem;
  top: 2.5rem;
}

.logo {
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 7.5rem;
  background: url("../images/SVG/logo.svg") no-repeat;
}

.page-num-container {
  display: block;
  left: 2.5rem;
  bottom: 2.5rem;
  width: 80px;
  height: 40px;
  color: #333;
  overflow: hidden;

  .change-num-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transition: 0.5s 0.2s;
    color: #333;

    div {
      position: relative;
      width: 40px;
      height: 40px;
    }
  }

  .unchange-num-container {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
  }

  span {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.scroll-down {
  width: 200px;
  height: 20px;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  transform: rotate(90deg) translate(0,20px);
  transform-origin: right bottom;
  text-align: right;
  color: #333;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.menu-icon-container {
  position: fixed;
  right: 60px;
  top: 60px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10000;

  .menu-icon {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;

    .bar {
      position: absolute;
      right: 0;
      background-color: #333;
      transition: 0.5s;
    }

    .bar:nth-child(1) {
      width: 20px;
      height: 2px;
      transform-origin: 0 0;
    }

    .bar:nth-child(2) {
      width: 20px;
      height: 2px;
      top: 9px;
    }

    .bar:nth-child(3) {
      width: 20px;
      height: 2px;
      top: 18px;
      transform-origin: 0 0;
    }
  }

  .menu-icon.opened {
    .bar {
      background-color: #fff;
    }

    .bar:nth-child(1) {
      width: 21px;
      transform: translate(1px,2px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      width: 21px;
      transform: translate(0px,-1px) rotate(-45deg);
    }
  }
}

.menu-icon-container:hover {
  .bar:nth-child(2) {
    width: 15px;
  }
}

.menu-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  margin: 0;
  z-index: 9999;
  display: none;
  box-sizing: border-box;

  .menu-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;

    li {
      display: block;
      position: relative;
      font-size: 3rem;
      margin-bottom: 4rem;
      opacity: 1;

      a {
        box-shadow: #333 0 0;
        position: relative;
        color: #fff;
        transition: 0.5s ease-in-out;
      }
    }

    a.active {
      opacity: 0.3;
    }
  }
}

.back-icon {
  top: 2.5rem;
  left: 2.5rem;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 9998;
<<<<<<< HEAD
  background: #fff;
=======
  background: #333;
>>>>>>> parent of c9825f1... 7.7.0

  i {
    position: absolute;
    left: 50%;
<<<<<<< HEAD
    top: 50%;
    transform: translate(-50%,-50%);
    color: @color-dark-primary;
=======
    top: 10px;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #333;
    color: #fff;
>>>>>>> parent of c9825f1... 7.7.0
  }
}
.back-icon::after{
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  left: 5%;
  top:10%;
  background-color: @color-dark-primary;
  border-radius: 40px;
  box-shadow: 0 0 40px @color-dark-primary;
  z-index: -1;
  background: none;
  opacity: 0.5;
}

.partname {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 10rem;
  color: #333;
  transform: rotate(90deg);
  transform-origin: left top;
  z-index: -1;
}

.pages-container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.9s ease-in-out;
  z-index: 4;
  overflow: hidden;

  .pages {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #FFF;
  }

  .pages.hidepage {
    transform: translateY(-100%);
  }

  .page-writing {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    opacity: 0;
    transition: 0.5s 0.5s;
    box-sizing: border-box;

    .page-intro {
      position: absolute;
      padding: 0;
      left: 2.5rem;
      top: 20%;
      transform-origin: bottom left;
      transform: rotate(90deg);
    }

    h1 {
      display: inline-block;
      padding: 0;
      margin: 0 10px 0 0;
      font-size: 2rem;
      font-weight: 200;
      transition: 0.2s;
      color: #333;
      z-index: 2;
      opacity: 0;
    }

    p {
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 1em;
      line-height: 1em;
      transition: 0.2s;
      color: #333;
      z-index: 2;
      opacity: 0;
    }

    .readmore {
      position: absolute;
      display: block;
      width: auto;
      left: 60%;
      top: 70%;
      color: #fff;
      padding: 10px 40px 10px 20px;
      transform-origin: right top;
      // transform: rotate(90deg);
      transition: 0.3s;
      background-color: #333;
      box-sizing: content-box;
      // box-shadow: 3px 3px 0 0 #fff;
      z-index: 4;
    }

    .pic {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60vh;
      height: 60vh;
      transform: translate(-50%,-50%) scale(0.5);
      z-index: 3;
      overflow: hidden;
      border-radius: 50%;
      cursor: pointer;
      border: #333 solid 0;
      transition:  1s;
    }

    .shadow {
      content: "";
      position: absolute;
      display: block;
      width: 90%;
      height: 90%;
      left: 5%;
      top: 7%;
      background-color: #333;
      border-radius: 40px;
      box-shadow: 0 0 70px #333;
      z-index: -1;
    }

    .bg {
      position: absolute;
      width: 110%;
      height: 110%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: 0.5s;
    }

    .bg-image {
      background-position: center center;
      background-size: cover;
      z-index: 3;
    }

    .bg-video {
      object-fit: cover;
      z-index: 4;
    }

    strong {
      // text-shadow: 3px 3px #111;
    }
  }

  .page-writing.active {
    opacity: 1;

    h1 {
      opacity: 1;
      transition:  0.5s 0.8s;
    }

    p {
      opacity: 1;
      transition:  0.5s 0.8s;
    }

    .pic {
      transform: translate(-50%,-50%) scale(1);
    }
    .pic:hover {
      border: #333 solid 5px;
      .bg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.works-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .works {
    width: 50%;
    margin: 0 auto;
    padding: 200px 0;
  }

  .works-item {
    margin: 20px;
    font-size: 0;
    position: relative;
    box-sizing: content-box;
    border: 5px solid #333;

    img {
      transform: translate(0,0);
      width: 100%;
      transition: 0.5s;
    }

    span {
      // transform: translate(3px,3px);
      color: #fff;
      font-size: 1rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-family: "Arial";
      background-color: #333;
      box-sizing: border-box;
      padding: 10px;
      opacity: 0;
      transition: 0.5s;
      text-align: center;
    }
  }

  .works-item:hover span {
    opacity: 1;
  }

  .works-item:hover img {
    // transform: translate(3px,3px);
    // box-shadow: #333 0 0;
  }

  .worklevel1 {
    width: 25%;
  }

  .worklevel2 {
    width: 50%;
  }

  .worklevel3 {
    width: 75%;
  }

  .worklevel4 {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {}
@media screen and (max-width: 1200px) and (min-width: 980px) {}
@media screen and (max-width: 979px) and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .menu-icon-container {
    top: 60px;
    right: 60px;
  }

  .works-container {
    .works {
      width: 70%;
    }

    .worklevel1 {
      width: 75%;
    }

    .worklevel2 {
      width: 75%;
    }

    .worklevel3 {
      width: 75%;
    }

    .worklevel4 {
      width: 75%;
    }
  }

  .pc-only {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  html {
    font-size: 16px;
  }

  .menu-icon-container {
    top: 60px;
    right: 60px;
  }

  .pages-container {
    .pages {
      .pic {
        height: 40vh;
        width: 40vh;
      }

      .bg-video {
        display: none;
      }
    }
  }

  .works-container {
    .works {
      width: 70%;
    }

    .worklevel1 {
      width: 75%;
    }

    .worklevel2 {
      width: 75%;
    }

    .worklevel3 {
      width: 75%;
    }

    .worklevel4 {
      width: 75%;
    }
  }

  .pc-only {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: 8px;
  }

  .menu-icon-container {
    top: 30px;
    right: 30px;
  }

  .pages-container {
    .pages {
      .pic {
        height: 30vh;
        width: 30vh;
      }

      .bg-video {
        display: none;
      }
    }
  }

  .works-container {
    .works {
      width: 100%;
    }

    .worklevel1 {
      width: 75%;
    }

    .worklevel2 {
      width: 75%;
    }

    .worklevel3 {
      width: 75%;
    }

    .worklevel4 {
      width: 75%;
    }
  }
  .pc-only {
    display: none;
  }
}
