/* LESS Document */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,{
  outline: none;
  border-color: transparent;
}
.keyframes (@name, @frames) {
    @-webkit-keyframes @name { @frames(); }
    @-moz-keyframes @name { @frames(); }
    @-ms-keyframes @name { @frames();}
    @-o-keyframes @name { @frames(); }
    @keyframes @name { @frames(); }
}
.transform (@attr){
-webkit-transform:@attr;
-moz-transform:@attr;
-o-transform:@attr;
-ms-transform:@attr;
transform:@attr;
}
.animation (@attr){ 
-webkit-animation:@attr;
-moz-animation:@attr;
-ms-animation:@attr;
-o-animation:@attr;
animation:@attr;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
#home {
  height: 70px;
}
.container {
}
.title {
  margin-top: 200px;
}
.text-left {
  text-align: right;
}
.text-right {
  text-align: left;
}
.img-left{
  float: right;
}
.img-right{
  float: left;
}