/* LESS Document */
//reset______________________________________

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,{
  outline: none;
  border-color: transparent;
}
.keyframes (@name, @frames) {
    @-webkit-keyframes @name { @frames(); }
    @-moz-keyframes @name { @frames(); }
    @-o-keyframes @name { @frames(); }
    @keyframes @name { @frames(); }
}
.transform (@attr){
-webkit-transform:@attr;
-moz-transform:@attr;
-o-transform:@attr;
transform:@attr;
}
.animation (@attr){ 
-webkit-animation:@attr;
-moz-animation:@attr;
-o-animation:@attr;
animation:@attr;
}
.transition(@attr){
-webkit-transition:@attr;
-moz-transition:@attr;
-o-transition:@attr;
transition:@attr;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
body {
  padding-top: 0;
  height: auto;
  width: 100%;
  height: 100wh;
  overflow: hidden;
}
ul {
  list-style: none;
}

//等待加载页面______________________________________

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  z-index: 9999;
  .transition(0.7s);
}
#loading-container {
  position: relative;
  height: 100%;
}
.loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%,-50%));
  .transition(0.5s);
  opacity: 1;
  width: 167px;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%,-100px));
  height: 8px;
  width: 400px;
  border-radius: 4px;
  .transition(0.5s);
  overflow: hidden;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 8px;
  border-radius: 5px;
  .animation(changecolor 5s infinite alternate);
  .transition(0.5s);
}

//导航栏____________________________________________________

nav {
  .transition(0.5s);
  z-index: 9996;
}
#nav-container {
  position: relative;
}
.navbar-default {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0,);
  padding-top: 20px;
}
.navbar-brand {
  padding: 7px;
  padding-left: 15px;
  position: relative;
  box-sizing: border-box;
}
.navbar-brand img {
  width: 167px;
}
.keyframes (changecolor,{
  0%{background: #FEAC5E;}
  50%{background: #C779D0;}
  100%{background: #4BC0C8;}
}
);
.navbar-brand div.dot {
  position: absolute;
  border-radius: 50%;
  left: 50.4px;
  top: 7px;
  width: 8px;
  height: 8px;
  .animation(changecolor 5s infinite alternate);
}
.nav-btn {
  position: absolute;
  right: 15px;
  top: 7px;
  cursor: pointer;
}
.burger-bun {
  display: block;
  width: 36px;
  height: 4px;
  margin: 6px 0;
  color: #fff;
  background-color: #fff;
  border-radius: 4px;
}
#burger-bun-top{
  -webkit-transform-origin: 32px 2px;
          transform-origin: 32px 2px;
}
#burger-bun-bot{
  -webkit-transform-origin: 32px 2px;
          transform-origin: 32px 2px;
}
.keyframes(top-rotate,{
  0%{
    .transform(rotate(0deg));
  }
  100%{
    .transform(rotate(-45deg));
  }
});
.keyframes(mid-scale,{
  0%{
    .transform(scale(1));
  }
  100%{
    .transform(scale(0));
  }
});
.keyframes(bot-rotate,{
  0%{
    .transform(rotate(0deg));
  }
  100%{
    .transform(rotate(45deg));
  }
});
.keyframes(top-rotate-back,{
  0%{
    .transform(rotate(-45deg));
  }
  100%{
    .transform(rotate(0deg));
  }
});
.keyframes(mid-scale-back,{
  0%{
    .transform(scale(0));
  }
  100%{
    .transform(scale(1));
  }
});
.keyframes(bot-rotate-back,{
  0%{
    .transform(rotate(45deg));
  }
  100%{
    .transform(rotate(0deg));
  }
});
#burger-bun-top.is-open{
  .animation(top-rotate 0.3s cubic-bezier(0.38,-0.84, 0.65, 1.72) forwards)
}
#burger-bun-mid.is-open{
  .animation(mid-scale 0.3s cubic-bezier(0.38,-0.84, 0.65, 1.72) forwards)
}
#burger-bun-bot.is-open{
  .animation(bot-rotate 0.3s cubic-bezier(0.38,-0.84, 0.65, 1.72) forwards)
}
#burger-bun-top.is-closed{
  .animation(top-rotate-back 0.3s cubic-bezier(0.38,-0.84, 0.65, 1.72) forwards)
}
#burger-bun-mid.is-closed{
  .animation(mid-scale-back 0.3s cubic-bezier(0.38,-0.84, 0.65, 1.72) forwards)
}
#burger-bun-bot.is-closed{
  .animation(bot-rotate-back 0.3s cubic-bezier(0.38,-0.84, 0.65, 1.72) forwards)
}
.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%,-50%));
  z-index: 1000;
  display: none;
  .transition(0.5s);
}
.nav a{
  color: #fff;
  font-size: 2em;
  .transition(0.2s);
  border-radius: 0.1em;
  .transition(0.5s);
  .transform(translate(-80px,0));
  opacity: 0;
  position: relative;
}
.nav.active a {
  .transform(translate(0,0));
  opacity: 1;
}
#btn-about {
  transition-delay: 0.4s;
}
#btn-product {
  transition-delay: 0.2s;
}
.nav li{
  display: block;
  margin: 15px 0;
  padding: 0;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a.active{
  background-color: rgba(255,255,255,0.0);
}
.nav>li>a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  display: block;
  width: 8px;
  height: 0;
  .transition(0.5s);
  background: #fff;
  border-radius: 4px;
}
.nav>li>a:focus::before, .nav>li>a:hover::before, .nav>li>a.active::before{
  height: 100%;
}
//单元切换页面______________________________________________________

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.cover2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.cover .cover-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  .transform(translate(-50%,-50%));
  z-index: 9998;
  opacity: 0;
  .transition(0.5s);
  display: none;
}
.cover>.cover-top {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-70deg, rgba(0,0,0,0) 40%, #fff 40%);
  .transition(0.9s);
  z-index: 9997;
}
.cover>.cover-bot {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-70deg, #fff 60%, rgba(0,0,0,0) 60%);
  .transition(0.9s);
  z-index: 9997;
}
.cover2 .cover-top {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-70deg, rgba(0,0,0,0) 40%, #36afe9 40%);
  .transition(0.9s);
}
.cover2 .cover-bot {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-70deg, #36afe9 60%, rgba(0,0,0,0) 60%);
  .transition(0.9s);
}
.cover.active .cover-top, .cover.active .cover-bot, .cover2.active .cover-top, .cover2.active .cover-bot {
  left: 0;
}
.cover2 .cover-top, .cover2 .cover-bot{
  z-index: 999;
}
.cover-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%,-50%));
  .transition(0.5s);
  opacity: 1;
  height: 5%;
}

//轮播图_____________________________________________

#main-container {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.carousel-control:hover .carousel-control-dot.left{
  height: 60px;
  right: 160px;
}
.carousel-control:hover .carousel-control-dot.right{
  height: 60px;
  left: 160px;
}
.carousel-control-dot.left {
  position: absolute;
  top: 50%;
  right: 140px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  opacity: 1;
  .transition(0.3s);
  .transform(translate(0,-50%));
}
.carousel-control-dot.left.white ,.carousel-control-dot.right.white{
  background: #fff;
}
.carousel-control-dot.left.black ,.carousel-control-dot.right.black{
  background: #333;
}
.carousel-control-dot.right {
  position: absolute;
  top: 50%;
  left: 140px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  opacity: 1;
  .transition(0.3s);
  .transform(translate(0,-50%));
}
.btn-open.white {
  height: 2em;
  width: 8em;
  color: #fff;
  font-size: 1.2em;
  line-height: 2em;
  border-radius: 1em;
  background: rgba(255,255,255,0.2);
  position: absolute;
  bottom: 80px;
  left: 50%;
  .transform(translate(-50%,0));
  cursor: pointer;
  z-index: 1;
}
.btn-open.black {
  height: 2em;
  width: 8em;
  color: #333;
  font-size: 1.2em;
  line-height: 2em;
  border-radius: 1em;
  background: rgba(0,0,0,0.2);
  position: absolute;
  bottom: 80px;
  left: 50%;
  .transform(translate(-50%,0));
  cursor: pointer;
  z-index: 1;
}
.btn-close {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 1.2em;
  position: fixed;
  top: 30px;
  left: -40px;
  background: #36afe9;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  display: none;
  .transition(0.5s);
  color: #fff;
}
.item {
  height: 100vh;
}
.item div {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  .transform(scale(1)translate(-50%,-50%););
  .animation(expand 7s infinite alternate);
  transform-origin: center;
}
.keyframes(expand,{
  0%{.transform(scale(1)translate(-50%,-50%);)}
  100%{.transform(scale(1.04)translate(-48%,-48%);)}
});
.keyframes (carousel1bg,{
  0%{background:#36afe9;}
  100%{background:#3666a9;}
});
.keyframes (carousel2bg,{
  0%{background: #e595e9;}
  100%{background: #ee6699;}
});
.keyframes (carousel3bg,{
  0%{background: #1c0700;}
  100%{background: #000000;}
});
.keyframes (carousel4bg,{
  0%{background: #ffffff;}
  100%{background: #efefef;}
});
#carousel1bg.white {
  background-image: linear-gradient(-70deg, #36afe9 50%, #fff 50%);
}
#carousel2bg.white {
  background-image: linear-gradient(-70deg, #e595e9 50%, #fff 50%);
}
#carousel3bg.white {
  background-image: linear-gradient(-70deg, #4ceee7 50%, #fff 50%);
}
.white #carouselItem1 {
  background: url(images/carousel_01_lg1920.png) no-repeat;
  background-size: contain;
}
.white #carouselItem2 {
  background: url(images/carousel_02_lg1920.png) no-repeat;
  background-size: contain;
}
.white #carouselItem3 {
  background: url(images/carousel_03_lg1920.png) no-repeat;
  background-size: contain;
}
.black #carouselItem1 {
  background: url(images/carousel_04_lg1920.png) no-repeat;
  background-size: contain;
}
.black #carouselItem2 {
  background: url(images/carousel_04_lg1920.png) no-repeat;
  background-size: contain;
}
.black #carouselItem3 {
  background: url(images/carousel_04_lg1920.png) no-repeat;
  background-size: contain;
}
.item.black {
  background: #ffffff;
}
.carousel-indicators.white li{
  background: none;
  border: #fff solid 1px;
}
.carousel-indicators.white li.active{
  background: #fff;
  border: #fff solid 1px;
}
.carousel-indicators.black li{
  background: none;
  border: #333 solid 1px;
}
.carousel-indicators.black li.active{
  background: #333;
  border: #333 solid 1px;
}
.allPic {
  padding-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #FFF;
  .transition(0.5s);
  z-index: 9999;
}
.allPic.active {
  padding-top: 80px;
  width: 100%;
  height: 100%;
}
ul.thumbnails {
  font-size: 0;
  padding: 0;
  margin-top: 20px;
}
ul.thumbnails li{
  display: inline-block;
}
.thumbnail {
  border: none;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
  .progress {
    width: 200px;
  }
  .white #carouselItem1 {
    background: url(images/carousel_01_sm750@2x.png) no-repeat;
    background-size: contain;
  }
  .white #carouselItem2 {
    background: url(images/carousel_02_sm750@2x.png) no-repeat;
    background-size: contain;
  }
  .white #carouselItem3 {
    background: url(images/carousel_03_sm750@2x.png) no-repeat;
    background-size: contain;
  }
  .black #carouselItem1 {
    background: url(images/carousel_04_sm750@2x.png) no-repeat;
    background-size: contain;
  }
  .black #carouselItem2 {
    background: url(images/carousel_04_sm750@2x.png) no-repeat;
    background-size: contain;
  }
  .black #carouselItem3 {
    background: url(images/carousel_04_sm750@2x.png) no-repeat;
    background-size: contain; 
  }
}