@font-face {
  font-family: nscsr;
  src: url(fonts/NotoSerifCJKsc-Regular.otf);
}
@font-face {
  font-family: nshr;
  src: url(fonts/NotoSansHans-Regular.otf);
}
body {
  margin: 0;
  font-family: nshr;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
header {
  left: 0;
  top: 0;
}
.nav-bar {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  height: 140px;
  margin: 0 auto;
  padding: 0 60px;
  align-items: center;
  background: #ffffff;
}
.logo-container {
  flex-grow: 1;
  align-items: center;
  height: 20px;
}
.logo {
  height: 20px;
}
.nav-container {
  flex-grow: 1;
  bottom: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
}
.nav-option {
  display: inline-block;
  margin: 0;
  padding-left: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
}
.nav-option a::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  top: 0;
  background-color: #331111;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scaleX(0);
}
.nav-option:hover a::before {
  transform: scaleX(1);
}
.nav-option a {
  display: block;
  text-decoration: none;
  color: #331111;
}
main {
  position: relative;
  left: 0;
  top: 0;
}
.works-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}
.works-container .works-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.works-container .works-list：after {
  content: "";
  clear: both;
}
.works-container .works-list .works-item {
  display: inline-block;
  position: relative;
  float: left;
}
.works-container .works-list .works-item a {
  display: block;
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #eeeeee;
}
._w-item-1x1 {
  width: 33.33%;
  height: 0;
  padding-bottom: 33.33%;
}
._w-item-1x2 {
  width: 33.33%;
  height: 0;
  padding-bottom: 66.66%;
}
._w-item-2x1 {
  width: 66.66%;
  height: 0;
  padding-bottom: 33.33%;
}
._w-item-2x2 {
  width: 66.66%;
  height: 0;
  padding-bottom: 66.66%;
}
.works-list a {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transition: all 0.3s 0.1s ease-in-out;
  -ms-transition: all 0.3s 0.1s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.works-list a:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  background-size: 105% auto;
}
.works-list a.Gemini {
  background-image: url("images/Gemini.png");
  font-family: Helvetica;
  text-decoration: none;
}
.works-list a.Gemini::after {
  content: "GeMini";
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.works-list a.dengpao {
  background-image: url("images/dengpao.png");
  background-size: auto 100%;
  font-weight: 900;
  white-space: nowrap;
}
.works-list a.dengpao:hover {
  background-size: auto 105%;
  color: #331111;
}
.works-list a.dengpao:after {
  content: "写实Icon练习";
  font-size: 18px;
  letter-spacing: 7px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.works-list a.dang {
  background-image: url("images/dang.png");
}
.works-list a.daminchu {
  background-image: url("images/daminchu.png");
}
footer {
  position: relative;
  left: 0;
  background-color: #ffffff;
}
.contact-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  align-items: center;
  height: 160px;
  padding-top: 70px;
  text-align: right;
}
.contact-container i {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  color: #cccccc;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fa-weixin,
.fa-envelope {
  text-align: right;
}
.qrcode {
  display: inline-block;
  position: absolute;
  top: -60px;
  right: -10px;
  background: url("images/qrcode.png") no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  height: 140px;
  width: 0px;
  cursor: pointer;
}
.weixin {
  cursor: pointer;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.email {
  cursor: pointer;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.weixin:hover i {
  color: #330000;
}
.email:hover i {
  color: #330000;
}
.weixin:hover .qrcode {
  right: -10px;
  top: -60px;
  opacity: 1;
  width: 200px;
  height: 140px;
}
@media screen and (max-width: 1200px) and (min-width: 980px) {
}
@media screen and (max-width: 979px) and (min-width: 768px) {
  .works-container .works-list .works-item {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .works-container .works-list .works-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}
@media screen and (max-width: 479px) {
  .works-container .works-list .works-item {
    width: 340px;
    height: 0;
  }
}
